.row { margin-bottom:20px; }
/*.row section { margin-bottom:20px; }*/

.matrix, .vector { margin:28px 5ex 0; width:auto; position:relative; }
.matrix:before, .vector:before, .matrix:after, .vector:after
 { position:absolute; top:-12px; font-size:76px; line-height:1; }
.matrix:before { left:-0.75ex; content:"{"; }
.matrix:after { right:-0.75ex; content:"}"; }
.vector:before { left:-0.75ex; content:"["; }
.vector:after { right:-0.75ex; content:"]"; }
table.matrix { background-color:transparent; }
ul.vector { list-style-type:none; padding-left:0; }

body header h1 { letter-spacing:0.5ex; padding-top:0.5em; }
body header h1 small { letter-spacing:0; }
body header h2 { font-size:36px; text-transform:lowercase; /*margin-left:0.5ex; margin-right:0.5ex;*/ }

code a { color:inherit; }
dl dd + dt, .dl-horizontal dt + dd  { margin-top:1ex; }

.media img { max-width:192px; height:auto; max-height:104px; }
.media-body .dl-horizontal dt { max-width:2.5em; text-align:left; }
.media-body .dl-horizontal dd { margin-left:3em; }

.mfp-content .dl-horizontal dt { max-width:6em; }
.mfp-content .dl-horizontal dd { margin-left:7em; }

#identity { text-align:center; }

#uniform a { display:inline-block; width:1em; height:1em; border:1px solid #888;
 vertical-align:middle; }
#uniform-cerulean { background-color:white; }
#uniform-slate { background-color:#272b30; }
#uniform-cyborg { background-color: #060606; }

#contact { margin-top:28px; line-height: 62px; vertical-align:middle; }

#languages { clear:left; }

#main-skills h4 { white-space:pre-line; }
#main h4 .lead { font-family:"Cabin",Arial,sans,sans-serif; line-height:49px; }

#colophon { /*display:block; margin:0 auto;*/ text-align:center; }
